:root {
  --primary-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --light-color: #ffffff;
  --logo-dark-color: #000000;
  --background-hero-color: #c4c4c4;
  --hover-main-button-color: #188ce8;
  --grey-light-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --border-header-color: #ececec;
  --border-portfolio-item-color: #eeeeee;
  --social-link-color: #afb1b8;
  --footer-link-bg-color: rgba(255, 255, 255, 0.1);
  --work-text-img-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --close-icon-border-color: rgba(0, 0, 0, 0.1);
  --footer-color-placeholder: rgba(255, 255, 255, 0.6);
  --border-input-color: rgba(33, 33, 33, 0.2);
  --backdrop-placeholder-color: rgba(117, 117, 117, 0.5);
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  list-style: none;
  font-family: var(--primary-font-family);
  color: var(--text-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.hero__button, .footer-form-button, .portfolio-button, .backdrop-form-button {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip-path: inset(100%);
  clip: 0 0 0 0;
}

.section-title {
  font-family: var(--primary-font-family);
  margin-bottom: 50px;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  margin-left: auto;
  display: flex;
}

.header__contact_tel {
  margin-right: 50px;
}

.header__logo {
  margin-right: 93px;
}

.logo {
  font-family: var(--logo-font-family);
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__studio {
  color: var(--logo-dark-color);
}

.navigation__link {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:focus, .navigation__link:hover, .navigation__link:active {
  color: var(--accent-color);
}

.contact__link {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:focus, .contact__link:hover {
  color: var(--accent-color);
}

.navigation__link_current {
  color: var(--accent-color);
  position: relative;
}

.navigation__link_current::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  height: 4px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
  max-width: 1600px;
  background-color: var(--background-hero-color);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--light-color);
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 86;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  background-color: var(--hover-main-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.cpecifics-list {
  display: flex;
}

.cpecifics-item:not(:last-child) {
  margin-right: 30px;
}

.cpecifics-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.cpecifics-list-paragraph {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.cpecifics-box {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--grey-light-color);
  justify-content: center;
  align-items: center;
}

.work {
  padding-top: 0px;
}

.work-list {
  display: flex;
}

.work-list-item {
  position: relative;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.work-img-text {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  position: absolute;
  background-color: var(--work-text-img-color);
  width: 100%;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--grey-light-color);
}

.team-list {
  display: flex;
  text-align: center;
  margin-right: -30px;
}

.team-list-item {
  width: 270px;
  margin-right: 30px;
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-container {
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list-paragraph {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-social-list {
  width: 206px;
  display: flex;
  justify-content: space-between;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:focus, .team-social-link:hover {
  fill: var(--light-color);
  background-color: var(--accent-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  fill: var(--social-link-color);
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.adress-container {
  min-width: 231px;
  margin-right: 70px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-top: 20px;
}

.adress-link:not(:last-child) {
  margin-bottom: 5px;
}

.footer-social-title {
  margin-bottom: 20px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.adress-link:not(:last-child) {
  margin-bottom: 5px;
}

.footer-link-contact {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  font-style: normal;
  color: var(--address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-contact:focus, .footer-link-contact:hover {
  color: var(--accent-color);
}

.footer-link-adr {
  color: var(--light-color);
  letter-spacing: 0.03em;
}

.footer-studio {
  color: var(--light-color);
}

.footer-social-container {
  margin-right: 93px;
}

.footer-social-list {
  width: 206px;
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--light-color);
  background-color: var(--footer-link-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus, .footer-social-link:hover {
  background-color: var(--accent-color);
}

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-form-label {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-form-input {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding: 14px 16px;
  outline: none;
  width: 358px;
  margin-top: 20px;
}

.footer-form-input::placeholder {
  color: var(--address-color);
}

.footer-form-button {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--light-color);
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  padding: 10px;
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:focus, .footer-form-button:hover {
  background-color: var(--hover-main-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.footer-form-button-text {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--backdrop-color);
}

.modal {
  position: absolute;
  width: 528px;
  height: 591px;
  background-color: var(--light-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  padding: 0px;
  border: 1px solid var(--close-icon-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus, .modal-close-btn:hover {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-strong {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  display: inline-block;
  width: 100%;
}

.form-container-name {
  margin-top: 12px;
  margin-bottom: 10px;
}

.form-icon-container {
  position: relative;
  margin-top: 4px;
}

.form-container-phone,
.form-container-mail {
  margin-bottom: 10px;
}

.form-label {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: inline-block;
  height: 14px;
}

.form-input {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--title-color);
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 10px 42px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus, .form-input:hover {
  border: 1px solid var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-comment {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  color: var(--backdrop-placeholder-color);
}

.form-comment:focus, .form-comment:hover {
  border: 1px solid var(--accent-color);
}

.form-label-checkbox {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.form-label-checkbox::before {
  content: "";
  display: inline-block;
  background-image: url(../images/svg/icon-unchecked.svg);
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.form-checkbox:checked + .form-label-checkbox::before {
  background-image: url(../images/svg/icon-checked.svg);
}

.form-checkbox:focus + .form-label-checkbox::before {
  outline: 1px solid var(--accent-color);
}

.form-container-checbox {
  display: flex;
  padding-left: 12px;
}

.policy-link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.backdrop-form-button {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-color);
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translate(50%);
  height: 50px;
  min-width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 10px;
}

.backdrop-form-button:hover, .backdrop-form-button:focus {
  background: var(--hover-main-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button-wraper {
  margin-left: auto;
  margin-right: auto;
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-item:not(:last-child) {
  padding-right: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--grey-light-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:focus, .portfolio-button:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-item-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.portfolio-link {
  display: block;
  border: 1px solid var(--border-portfolio-item-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-title {
  margin-bottom: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-item-paragraph {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--light-color);
  background-color: var(--portfolio-overlay-color);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */