:root {
    --primary-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
    --accent-color: #2196f3;
    --title-color: #212121;
    --text-color: #757575;
    --light-color: #ffffff;
    --logo-dark-color: #000000;
    --background-hero-color: #c4c4c4;
    --hover-main-button-color: #188ce8;
    --grey-light-color: #f5f4fa;
    --address-color: rgba(255, 255, 255, 0.6);
    --background-color: #2f303a;
    --border-header-color: #ececec;
    --border-portfolio-item-color: #eeeeee;
    --social-link-color: #afb1b8;
    --footer-link-bg-color: rgba(255, 255, 255, 0.1);
    --work-text-img-color: rgba(47, 48, 58, 0.8);
    --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --close-icon-border-color: rgba(0, 0, 0, 0.1);
    --footer-color-placeholder: rgba(255, 255, 255, 0.6);
    --border-input-color: rgba(33, 33, 33, 0.2);
    --backdrop-placeholder-color: rgba(117, 117, 117, 0.5);
}