
.header {
    border-bottom: 1px solid var(--border-header-color);
}

.header__container {
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.contact {
    margin-left: auto;
    display: flex;
}

.header__contact_tel {
    margin-right: 50px;
}

.header__logo {
    margin-right: 93px;
}

.logo {
    font-family: var(--logo-font-family);
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo__studio {
    color: var(--logo-dark-color);
}

.navigation__link {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover,
    &:active{
        color: var(--accent-color);
    }
}

.contact__link {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: var(--accent-color);
    }
}

.navigation__link_current{
    color: var(--accent-color);
    position: relative;
    &::after{
        content: "";
        position: absolute;
        display: block;
        background-color: var(--accent-color);
        height: 4px;
        width: 100%;
        left: 0px;
        bottom: 0px;
        border-radius: 2px;
    }
}

.contact__icon {
    fill: currentColor;
    margin-right: 10px;
}