
// ===========================mobile=======================

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg/hero-mob.jpg);
    background-size: cover;
    background-color: var(--background-hero-color);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
}
@media screen and (max-width:767px) {
    .hero{
        max-width: 480px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bg/hero-mob@2x.jpg);
    }
}

.hero__title {
    font-family: var(--primary-font-family);
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--light-color);
    text-align: center;
    text-transform: uppercase;
}

.hero__button {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    font-family: inherit;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1, 88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-color);
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        background-color: var(--hover-main-button-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}

// ==============================Tablet=================================
@media screen and (min-width: 768px) and (max-width: 1199px) {
    
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/bg/hero-tab.jpg);
        max-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/bg/hero-tab@2x.jpg);
        }
    }
}

// ==============================Desktop=================================

@media screen and (min-width: 1200px) {
    .hero{
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/bg/hero-desk.jpg);
        }
    }
    .hero__title {
        font-size: 44px;
        line-height: 1.36;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/bg/hero-desk@2x.jpg);
        }
    }
}