.button-wraper {
    margin-left: auto;
    margin-right: auto;
}

.portfolio-list-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-button-item:not(:last-child) {
    padding-right: 8px;
}

.portfolio-button {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    background-color: var(--grey-light-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        background-color: var(--accent-color);
        color: var(--light-color);
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 370px;
    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    
    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}

.portfolio-item-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.portfolio-link {
    display: block;
    border: 1px solid var(--border-portfolio-item-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-item-title {
    margin-bottom: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-item-paragraph {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.87;
}

.portfolio-overlay-container {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--light-color);
    background-color: var(--portfolio-overlay-color);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translateY(0%);
    }
}
