.cpecifics-list {
    display: flex;
}

.cpecifics-item:not(:last-child) {
    margin-right: 30px;
}

.cpecifics-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.cpecifics-list-paragraph {
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.cpecifics-box {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--grey-light-color);
    justify-content: center;
    align-items: center;
}